# Require any additional compass plugins here.

# Set this to the root of your project when deployed:
# project_path = "public"
http_path            = "/"
http_css_dir         = "css"
http_images_dir      = "images"
http_fonts_dir       = "styles/fonts"
http_javascripts_dir = "scripts"

sass_dir             = "public/styles/sass"
css_dir              = "public/styles/css"
images_dir           = "public/images"
fonts_dir            = "public/styles/fonts"
javascripts_dir      = "public/scripts"

# To enable relative paths to assets via compass helper functions. Uncomment:
relative_assets      = false

# Enable cache buster string after assets
asset_cache_buster :none

cache_dir            = "data/sass-cache"

output_style         = :compressed
environment          = :production

# For development
# output_style = :nested
# environment = :development

# To disable debugging comments that display the original location of your selectors. Uncomment:
# line_comments = true
color_output = false
if environment != :production
    sass_options = {:debug_info => true}
end

# If you prefer the indented syntax, you might want to regenerate this
# project again passing --syntax sass, or you can uncomment this:
# preferred_syntax = :sass
# and then run:
# sass-convert -R --from scss --to sass styles/sass scss && rm -rf sass && mv scss sass