@font-face {
    font-family: 'GFMCLight';
    src: font-url('gfmc-light-webfont.eot');
    src: font-url('gfmc-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('gfmc-light-webfont.woff') format('woff'),
         font-url('gfmc-light-webfont.ttf') format('truetype'),
         font-url('gfmc-light-webfont.svg#GFMCLight') format('svg');
    font-weight: normal;
    font-style: normal;
}